<p style="color: green"><%= notice %></p>

<%= render @beer_club %>

<% if current_user %>
  <% if @member %>
    <%= button_to 'End membership', membership_path(@membership_id), method: :delete, data: { turbo_confirm: 'Are you sure?' } %>
  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club" %>
    <% end %>
  <% end %>

  <div>
    <%= link_to "Edit this beer club", edit_beer_club_path(@beer_club) %> |
    <%= link_to "Back to beer clubs", beer_clubs_path %>

    <%= button_to "Destroy this beer club", @beer_club, method: :delete %>
  </div>
<% end %>
