<%= render @beer_club %>

<% if current_user %>
  <% if @member %>
    <%= button_to 'End membership', membership_path(@membership_id), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  <% else %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beer_club_id, value: @beer_club.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club", class:"btn btn-primary" %>
    <% end %>
  <% end %>

  <div class="my-3">
    <%= edit_and_destroy_buttons(@beer_club) %>
  </div>
<% end %>
