<div>
  <%= render @user %>

  <% if !current_user.nil? && current_user.admin? %>
    <%= link_to @user.active? ? "Close account" : "Activate account", toggle_status_user_path(@user.id), 
                                                                      data: {turbo_method: "post"},
                                                                      class: @user.active? ? "btn btn-danger" : "btn btn-primary" %>
  <% end %>

  <% if @user.memberships.empty? %>
    <p>Has not yet joined any clubs.</p>
  <% else %>
    <h4>member of</h4>
    <ul>
      <% @user.memberships.each do |membership| %>
        <li><%= membership %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @user.ratings.empty? %>
    <h4>ratings</h4>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <div class="my-1" style="display: inline-block;">
          <% if @user == current_user %>
            <%= button_to 'delete', rating, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @user == current_user %>
      <div class="my-3">
        <%= edit_and_destroy_buttons(@user) %>
      </div>
  <% end %>
</div>
