   

<div>
  <h3>
    <strong>Username:</strong>
  </h3>

  <p>
    <%= @user.username %>
  </p>

  <% if @user.ratings.empty? %>
    <p>Has not yet rated any beers.</p>
  <% else %>
    <p>Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %></p>
    <p>Favorite beer style: <%= @user.favorite_style.name %></p>
    <p>Favorite brewery: <%= @user.favorite_brewery %></p>
  <% end %>


  <% if @user.memberships.empty? %>
    <p>Has not yet joined any clubs.</p>
  <% else %>
    <h4>member of</h4>
    <ul>
      <% @user.memberships.each do |membership| %>
        <li><%= membership %></li>
      <% end %>
    </ul>
  <% end %>

  <% unless @user.ratings.empty? %>
    <h4>ratings</h4>
    <ul>
      <% @user.ratings.each do |rating| %>
        <li>
          <%= rating %>
          <div class="my-1" style="display: inline-block;">
          <% if @user == current_user %>
            <%= button_to 'delete', rating, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-outline-danger" %>
          </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <%= link_to "Back to users", users_path %>

  <% if @user == current_user %>
    | <%= link_to "Edit this user", edit_user_path(@user) %>
    <%= button_to "Destroy this user", @user, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  <% end %>
</div>
