<p style="color: green"><%= notice %></p>

<div>
  <h3>
    <strong>Username:</strong>
  </h3>

  <p>
    <%= @user.username %>
  </p>

  <p>
    <% if @user.ratings.empty? %>
      Has not yet rated any beers.
    <% else %>
      Has made <%= pluralize(@user.ratings.count, 'rating') %>, average rating <%= @user.average_rating %>
    <% end %>
  </p>

  <ul>
    <% @user.ratings.each do |rating| %>
      <li><%= rating %> <%= button_to 'delete', rating, method: :delete, data: { turbo_confirm: 'Are you sure?' } %></li>
    <% end %>
  </ul>

  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
