<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Name:</strong>
    <%= @style.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @style.description %>
  </p>

  <p>
    <strong>Beers:</strong>
    <ul>
      <% @style.beers.each do |beer| %>
        <li><%= beer.name %></li>
      <% end %>
    </ul>
  </p>
<div>

<div>
  <%= link_to "Edit this style", edit_style_path(@style) %> |
  <%= link_to "Back to styles", styles_path %>

  <%= button_to "Destroy this style", @style, method: :delete %>
</div>
