<%= render @beer %>

<% if current_user %>
  <h4>give a rating:</h4>

    <%= form_with(model: @rating) do |form| %>
    <div class="input-group">
      <%= form.hidden_field :beer_id %>
      <%= form.number_field :score, { class: "form-control" } %>
      <%= form.submit "Create rating", class:"btn btn-primary" %>
    <% end %>
    </div>

  <div class="my-3">
    <%= edit_and_destroy_buttons(@beer) %>
  </div>
<% end %>