<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

  <%= form_with url: places_path, method: :post do |form| %>
  <div class="input-group">
    <%= form.text_field :city, { class: "form-control" } %>
    <%= form.submit "Search", class:"btn btn-primary" %>
  <% end %>
  </div>

<% if @places %>
  <% if @weather %>
    <div class="container">
      <div class="my-3 col-sm">
        <strong>The current beer weather in <%= @city %></strong></p>
      </div>
      <div class="my-3 col-sm">
        <p><%= @weather.temperature %> celsius</p>
      </div>
      <div class="my-3 col-sm">
        <img src=<%= @weather.weather_icons.first %> alt=<%= @weather.weather_descriptions.first %>>
      </div>
      <div class="my-3 col-sm">
        <p><strong>wind <%= @weather.wind_speed %></strong>, direction: <%= @weather.wind_dir %></p>
      </div>
    </div>
  <% end %>
  <table class="table table-striped">
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <% if field == :name %>
            <td><%= link_to place.name, place_path(place.id) %></td>
          <% else %>
            <td><%= place.send(field) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
